<strong>Olá, {{ name }}</strong>
<p>Segue detalhes do seu pedido de auxilio: </p>

<p>
  <strong>Pergunta: </strong><br>
  {{ question }}
</p>

<p>
  <strong>Resposta: </strong><br>
  {{ answer }}
</p>

<p>
  Pergunta respondida em {{ answer_at }}
</p>
